<!-- IDEA: modal withdrawMoney -->
<div class="modal fade fixed-right" id="withdrawMoney" tabindex="-1" role="dialog" aria-labelledby="withdrawMoney" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <div class="modal-content">
      <div class="modal-body p-lg-0">
        <div class="d-inline-block w-lg-60">
          <button class="btn btn-link text-secondary position-absolute mt-n4 ml-n4 ml-lg-0 mt-lg-0" type="button" name="button" data-dismiss="modal" aria-label="Close">
            <i class="fe fe-arrow-left h2"></i>
          </button>
          <div class="row justify-content-center">
            <div class="col col-lg-8">
              <!-- Heading -->
              <h1 class="display-4 text-center mt-5">
                Signal to the pool you're still alive
              </h1>
              <h6 class="header-pretitle text-center text-muted mb-1 time-left-title">
                TIME LEFT TO SIGNAL
              </h6>
              <h4 class="header-title text-center text-secondary time-left-value mb-5"> 12<!---->d&nbsp;7<!---->h&nbsp;45<!---->m &nbsp;1<!---->s</h4>
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <div class="mb-3">reCAPTCHA 🤖</div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">verify</label>
                    </div>
                  </div>

                  <a class="btn btn-primary btn-lg btn-block" href="dashboard-full_3.html">Confirm</a>
                </div>
              </div>
              <a class="btn btn-sm btn-link btn-block mb-6" href="https://gitbook.com" target="_blank">Need help?</a>
            </div>
          </div>
        </div>
        <div class="d-lg-inline-block w-lg-40 position-fixed d-none border-left">
          <div class="bg-lighter vh-100 p-4">
            <div class="row justify-content-center">
              <div class="col-10">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th class="px-0 bg-transparent border-0">Order details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="px-0 border-0">
                          <strong>Share price (USD)</strong>
                        </td>
                        <td class="px-0 text-right border-0">
                          10.00
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 border-0">
                          <strong>Shares amount</strong>
                        </td>
                        <td class="px-0 text-right border-0">
                          1,000.0000
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 border-0">
                          <strong>PEAK tokens to redeem</strong>
                        </td>
                        <td class="px-0 text-right border-0">
                          1,000.0000
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 border-top border-top-1"><strong>Sell shares for</strong></td>
                        <td colspan="2" class="px-0 text-right border-top border-top-1">
                          <span class="h3">30.000000 ETH</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->
