<nav class="navbar navbar-expand-md d-none d-md-flex border-0" id="topbar">
  <div class="container-fluid px-4 d-flex">
    <div class="navbar-text" *ngIf="router.url === '/pool'">
      <h6 class="text-uppercase text-secondary mb-2">
        <ng-container i18n="@@timeCounterTitle">Time left to signal being alive</ng-container>
      </h6>
      <h4 class="mb-0">
        {{days}}<ng-container i18n="@@timeLeftInDays">d</ng-container>&nbsp;{{hours}}<ng-container
          i18n="@@timeLeftInHours">h</ng-container>&nbsp;{{minutes}}<ng-container i18n="@@timeLeftInMinutes">m
        </ng-container>&nbsp;{{seconds}}<ng-container i18n="@@timeLeftInSeconds">s</ng-container>
      </h4>
    </div>
    <div class="navbar-text ml-4" *ngIf="router.url === '/pool'">
      <h6 class="text-uppercase text-secondary mb-2">
        Tontine ends in
      </h6>
      <h4 class="mb-0">
        420<ng-container i18n="@@timeLeftInDays">d</ng-container>&nbsp;12<ng-container
          i18n="@@timeLeftInHours">h</ng-container>&nbsp;42<ng-container i18n="@@timeLeftInMinutes">m
        </ng-container>&nbsp;03<ng-container i18n="@@timeLeftInSeconds">s</ng-container>
      </h4>
    </div>
    <div class="navbar-user justify-content-center ml-auto" id="sidebarUser">
      <!--Account display-->
      <button class="btn btn-white btn-block p-0 pr-3 rounded-xl text-left text-truncate" style="width: 12rem;" (click)="reloadAll()"
      *ngIf="user_address !== ZERO_ADDR">
        <div class="avatar avatar-sm avatar-online mr-2">
          <img src="assets/img/avatars/profiles/eth-address.png" class="avatar-img rounded-circle" alt="...">
        </div>
        {{user_address}}
      </button>
      <button class="btn btn-white btn-block p-0 pr-3 rounded-xl text-left text-truncate" (click)="reloadAll()" *ngIf="user_address == ZERO_ADDR">
        <div class="avatar avatar-sm avatar-offline mr-2">
          <img src="assets/img/avatars/profiles/eth-address.png" class="avatar-img rounded-circle" alt="...">
        </div>
        <ng-container i18n="@@headerConnectWalletCTA">Connect Wallet</ng-container>
      </button>
    </div>

  </div>
</nav>