<p class="text-secondary text-center small">
  This project is in beta. Use at your own risk.
</p>
<nav class="navbar fixed-bottom navbar-light border border-top-1 justify-content-between py-2 d-flex d-lg-none m-3 rounded">
  <a class="nav-link text-secondary h5 py-0 text-center mb-0 px-1" routerLink="/portfolio"><i class="fe fe-home d-block mb-2" [ngClass]="{'text-success': checkRouterURL('/portfolio')}"></i>Home</a>
  <a class="nav-link text-secondary h5 py-0 text-center mb-0 font-weight-normal px-1" routerLink="/rewards"><i class="fe fe-dollar-sign d-block mb-2" [ngClass]="{'text-success': checkRouterURL('/rewards')}"></i>Rewards</a>
  <a class="nav-link text-secondary h5 py-0 text-center mb-0 font-weight-normal px-1" routerLink="/invite"><i class="fe fe-users d-block mb-2" [ngClass]="{'text-success': checkRouterURL('/invite')}"></i>Invite</a>
</nav>