<div class="container-fluid">

  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- User (xs) -->
  <div class="navbar-user d-md-none">
    <!--Account display-->
    <button class="btn btn-white btn-block p-0 pr-3 rounded-xl text-left text-truncate" style="width: 8rem;" (click)="reloadAll()"
    *ngIf="user_address !== ZERO_ADDR">
      <div class="avatar avatar-sm avatar-online mr-2">
        <img src="assets/img/avatars/profiles/eth-address.png" class="avatar-img rounded-circle" alt="...">
      </div>
      {{user_address}}
    </button>
    <button class="btn btn-white btn-block p-0 pr-3 rounded-xl text-left text-truncate" (click)="reloadAll()" *ngIf="user_address == ZERO_ADDR">
      <div class="avatar avatar-sm avatar-offline mr-2">
        <img src="assets/img/avatars/profiles/eth-address.png" class="avatar-img rounded-circle" alt="...">
      </div>
      <ng-container i18n="@@headerConnectWalletCTA">Connect Wallet</ng-container>
    </button>

  </div>

  <!-- Collapse -->
  <div class="collapse navbar-collapse" id="sidebarCollapse">
    <a class="navbar-brand text-left" routerLink="/pools">
      <div class="avatar mr-2">
        <img src="assets/img/logo.svg" class="avatar-img rounded" alt="...">
      </div>
      <span class="d-inline-block">Tontine</span>
    </a>
    <hr class="navbar-divider my-3 d-lg-none">


    <!-- Navigation -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/pools" [ngClass]="{'active': checkRouterURL('/pools')}">
          Pools
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Create a pool
        </a>
      </li>
    </ul>

    <!-- Divider -->
    <hr class="navbar-divider my-3">
    <!-- Navigation -->
    <ul class="navbar-nav mb-md-4">
      <li class="nav-item">
        <a class="nav-link" href="https://www.gitbook.com/" target="_blank">
          Help
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" target="_blank">
           Terms of service
        </a>
      </li>
    </ul>
    <form id="switchColor">
      <div class="btn-group-toggle d-flex btn-group-sm py-4 py-md-2" data-toggle="buttons">
        <label class="btn btn-white col">
          <input type="radio" name="colorScheme" id="colorSchemeLight" i18n-value="@@sidebarColorSchemeValueLight"
            value="light" onchange="document.getElementById('switchColor').submit()"> <i
            class="fe fe-sun align-middle"></i>
        </label>
        <label class="btn btn-white col ml-2">
          <input type="radio" name="colorScheme" id="colorSchemeDark" i18n-value="@@sidebarColorSchemeValueDark"
            value="dark" onchange="document.getElementById('switchColor').submit()"> <i
            class="fe fe-moon align-middle"></i>
        </label>
      </div>
    </form>

  </div> <!-- / .navbar-collapse -->

</div>
