<a routerLink="/rewards" class="alert alert-white alert-dismissible border fade show p-4 d-block" role="alert">
  <div class="row d-flex align-items-center">
    <div class="col-auto">
      <div class="avatar">
        <span class="avatar-title rounded-circle border bg-white h2 mb-0"><i class="fe fe-dollar-sign text-primary"></i></span>
      </div>
    </div>
    <div class="col ml-n2 mr-auto">
      <!-- Title -->
      <h6 class="text-uppercase text-secondary mb-1">
        Staking rewards
      </h6>

      <p class="card-text text-dark lead mb-0 d-none d-lg-block">
        Earn 10.00% APY rewards with PEAK tokens
      </p>
      <p class="card-text text-dark mb-0 d-block d-lg-none">
        Earn 10.00% APY rewards with PEAK tokens
      </p>
    </div>
    <div class="col-auto justify-content-end">
      <button class="btn btn-link" type="button" name="" href="#!" data-dismiss="alert" aria-label="Close">
        <i class="fe fe-x h2 mb-0 text-dark"></i>
      </button>
    </div>
  </div>
</a>