<!-- MAIN CONTENT
================================================== -->
<div class="main-content">

  <!-- HEADER -->
  <div class="header">
    <div class="container-fluid">

      <!-- Body -->
      <div class="header-body border-0">
        <div class="row align-items-end">
          <div class="col">
            <!-- Title -->
            <h1 class="header-title display-3 d-none d-lg-block">
              1,300.802086 PEAK
            </h1>
            <h1 class="header-title display-4 d-block d-lg-none">
              1,300.802086 PEAK
            </h1>
            <!-- Pretitle -->
            <div class="dropdown mb-0 d-flex align-items-center text-secondary mb-2">
                Total balance
              <button class="btn btn-link pl-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PEAK <i class="fe fe-chevron-down text-secondary"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
                <a class="dropdown-item" href="#!">EUR</a>
                <a class="dropdown-item" href="#!">USD</a>
                <a class="dropdown-item" href="#!">BTC</a>
                <a class="dropdown-item" href="#!">ETH</a>
              </div>
            </div>
            <div class="card-deck my-4">
              <div class="card">
                <div class="card-body">
                  <!-- Title -->
                  <h6 class="text-uppercase text-secondary mb-0">
                    Avg. APY rewards
                    <button type="button" class="btn btn-link p-0 text-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                      <i class="fe fe-info h4"></i>
                    </button>
                  </h6>

                  <!-- Heading -->
                  <span class="h2 text-success mb-0">
                    36.48%
                  </span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <!-- Title -->
                  <h6 class="text-uppercase text-secondary mb-0">
                    Lifetime rewards
                    <button type="button" class="btn btn-link p-0 text-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                      <i class="fe fe-info h4"></i>
                    </button>
                  </h6>

                  <!-- Heading -->
                  <span class="h2 mb-0">
                    1101.706258 PEAK
                  </span>
                </div>
              </div>
            </div>

            <!-- Button -->
            <a href="#" data-toggle="modal" data-target="#modal-stake-peak" class="btn btn-lg btn-primary lift mr-3">
              Stake PEAK
            </a>
            <!-- Button -->
            <a class="btn btn-lg btn-white lift" href="https://uniswap.exchange/" target="_blank">
              Trade PEAK
            </a>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .header-body -->

    </div>
  </div> <!-- / .header -->

  <!-- CARDS -->
  <div class="container-fluid mb-6">
    <div class="row">
      <div class="col-12">
        <!-- Recent activity -->
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h4 class="card-header-title">
                  Active stakes
                </h4>

              </div>
            </div> <!-- / .row -->
          </div>
          <div class="table-responsive mb-0">
            <table class="table table-sm table-nowrap card-table">
              <thead>
                <tr>
                  <th class="text-secondary">
                    Staked PEAK
                  </th>
                  <th class="text-secondary">
                    APY
                  </th>
                  <th class="text-secondary">
                    Lock-up left
                  </th>
                  <th class="text-secondary">
                    Unclaimed rewards
                  </th>
                  <th class="text-secondary">
                    Total rewards
                  </th>
                  <th class="text-secondary">
                    Total PEAK
                  </th>
                  <th class="text-secondary text-right">
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td>
                    1,000.000000
                  </td>
                  <td>
                    36.49%
                  </td>
                  <td>
                    0d 2h 24s
                  </td>
                  <td>
                    4.902086
                  </td>
                  <td>
                    364.902086
                  </td>
                  <td>
                    1,364.902086
                  </td>
                  <td class="text-right">
                    <button class="btn btn-sm btn-primary" type="button" name="button">Claim rewards</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    1,000.000000
                  </td>
                  <td>
                    36.49%
                  </td>
                  <td>
                    0d 2h 24s
                  </td>
                  <td>
                    0.000000
                  </td>
                  <td>
                    364.902086
                  </td>
                  <td>
                    1,364.902086
                  </td>
                  <td class="text-right">
                    <button class="btn btn-sm btn-primary" type="button" name="button" disabled>Claim rewards</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    2,000.000000
                  </td>
                  <td>
                    36.48%
                  </td>
                  <td>
                    0d 0h 0s
                  </td>
                  <td>
                    0.000000
                  </td>
                  <td>
                    736.804172
                  </td>
                  <td>
                    2,736.804172
                  </td>
                  <td class="text-right">
                    <button class="btn btn-sm btn-danger" type="button" name="button">Defund</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Recent activity -->
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h4 class="card-header-title">
                  Recent activity
                </h4>

              </div>
            </div> <!-- / .row -->
          </div>
          <div class="table-responsive mb-0" data-list="{&quot;valueNames&quot;: [&quot;tx-date&quot;, &quot;tx-details&quot;, &quot;tx-amount&quot;]}">
            <table class="table table-sm table-nowrap card-table">
              <thead>
                <tr>
                  <th>
                    <a href="#" class="text-secondary list-sort" data-sort="tx-date">
                      Date
                    </a>
                  </th>
                  <th data-sort="tx-details">
                    <a href="#" class="text-secondary list-sort">
                      Details
                    </a>
                  </th>
                  <th class="text-right">
                    <a href="#" class="text-secondary list-sort" data-sort="tx-amount">
                      Amount
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td class="tx-date">
                    <time datetime="2018-10-24">01/14/2020<br> <span class="text-secondary small">11:37:07 AM</span> </time>
                  </td>
                  <td class="type-details">
                    <h4 class="mb-2">Staked</h4>
                    <a class="align-items-center" target="_blank" href="https://etherscan.io/tx/0x1df72e056ae8ccd32dbe7de32596a4b262b3ed9aa069cbd51502b5808cc0e507">Tx details<i class="fe fe-external-link ml-2"></i></a>
                  </td>
                  <td class="type-amount text-right">
                    +10.0000 PEAK
                  </td>
                </tr>
                <tr>
                  <td class="tx-date">
                    <time datetime="2018-10-24">01/14/2020<br> <span class="text-secondary small">11:37:07 AM</span> </time>
                  </td>
                  <td class="type-details">
                    <h4 class="mb-2">Defunded</h4>
                    <a class="align-items-center" target="_blank" href="https://etherscan.io/tx/0x1df72e056ae8ccd32dbe7de32596a4b262b3ed9aa069cbd51502b5808cc0e507">Tx details<i class="fe fe-external-link ml-2"></i></a>
                  </td>
                  <td class="type-amount text-right">
                    -10.0000 PEAK
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div> <!-- / .row -->
    <app-footer></app-footer>
  </div>

</div><!-- / .main-content -->